.navbar {
  position: absolute;
  background: lightcoral;
  width: 100%;
  height: 50px;
}
.ptitle {
  margin: 0;
  float: left;
}
.list {
  float: right;
  margin: 0;
}

.list li {
  list-style: none;
  float: left;
  margin-right: 20px;
}
h1 {
  text-align: center;
}